<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <div class="form-container">
      <h1>Evaluaciones docentes</h1>
      <h2>LOGIN</h2>
      <form (submit)="onLogin()">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit">Ingresar</ion-button>
      </form>
    </div>
  </div>
</ion-content>

<style>
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
  }

  form {
    width: 100%;
  }

  ion-content {
    --background: #fff;
  }
</style>
